@{
    ViewBag.Title = "Home Page";
}

<p style="text-align: center; font-size: 10vh; font-family: Bahnschrift">¡Bienvenido!</p>
<p style="text-align: center">Página oficial de reclamos - Ayuntamiento de Toledo.</p>
<p style="text-align: center">Comunidad autónoma de España - Castilla-La Mancha.</p>