.text-danger-validate {
    font-weight: bold;
    animation-name: redtoblack;
    animation-duration: 4s;
    padding: 2em 2em;
}

.col-md-10 span {
    animation-name: redtoblack;
    animation-duration: 4s;
}

@keyframes redtoblack {
    from {
        color: #b865af;
    }

    to {
        color: black;
    }
}