@model IEnumerable<CommonSolution.DTOs.DTO_Reclamo>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de reclamos</h2>
<p>Para acceder a opciones: ⮥</p>
@Html.ValidationMessage("MsgReport", new { @class = "text-danger-validate" })
<br />
Filtrar por estado: @Html.TextBox("txtEstado")
<input type="submit" id="btnBuscar" value="Buscar" class="btn btn-info" />
<br />

<div id="divTblReclamos">

    @Html.Partial("_ListaReclamos", Model)

</div>

@section scripts{

    @Scripts.Render("~/bundles/reclamos");

}
